@import "variables";
@import "mixins";
@import "list";
@import "view";

html, body {
	background-color: $lighter;
	background: url(../img/handmadepaper.png) repeat top left;
	color: $dark;
	font-family: $font;
}

header {
	background-color: $dark;
	color: $lighter;
	padding: $default-spacing 0;
	line-height: 2.4em;
	position: fixed;
	width: 100%;
	top:0; right:0;
	margin: 0 !important;
	z-index: 100;

	a {
		color: $white;

		&:active, :visited, :focus {
			color: $white;
			text-decoration: none;
		}

		&:hover {
			color: $highlight-light;
			text-decoration: none;
		}
	}

	h1 {
		font-weight: lighter;
		font-size: 2em;
		margin: 0;
	}

	p {
		color: $white;
		margin: 0;
		text-align: right;
	}
}

.app-container {
	margin-top: 58px;
}

footer {
	margin-bottom: 20px;

	h6 {
		text-align: center;
		color: $middle;
	}
}