// Colors //
$white: #FFFFFF;
$lighter: #EEEEEE;
$light: #DDDDDD;
$middle: #BBBBBB;
$dark: #333333;
$darker: #1B1B1B;

$highlight-light: #BBE46D;
$highlight-dark: #6B812E;

// Fonts //
$font: 'Lato', 'Helvetica', arial, sans-serif;

// Spacing //
$default-spacing: 1em;