<!-- Book Filters and Search -->
<div class="filters container clearfix">
	<div class="container">
		<div class="row">

			<!-- Category Select -->	
			<div class="form-group col-xs-12 col-sm-4" ng-if="list.categories">
				<select id="filter-categories" class="form-control" name="select" ng-change="list.filterCategoryGenres(category)" ng-model="category" ng-options="category for category in list.categories">
					<option value="" defaultSelected>Find me the best:</option>
				</select>
			</div>

			<!-- Genre Select -->
			<div class="form-group col-xs-12 col-sm-4" ng-if="list.genres">
				<select id="filter-genres" class="form-control" name="select" ng-change="list.filterGenresCategory(genre)" ng-model="genre" ng-options="genre for genre in list.genres">
					<option value="" defaultSelected>Books about:</option> 
				</select>
			</div>

			<!-- Book Author and Name Search -->
			<div class="form-group col-xs-12 col-sm-4">
				<input id="search-books" class="form-control" type="search" placeholder="Search by author or title" ng-change="list.search(bookSearchQuery)" ng-model="bookSearchQuery" minlength="2"></input>
			</div>
		</div>
	</div>
</div>
<!-- End Book Filters and Search -->

<div class="book-search container">

	<!-- Start Pagination -->
	<nav class="text-center">
	  	<ul class="pagination">
	    	<li>
	      		<a href="#" aria-label="Previous" ng-click="list.previousPage()">
	        		<span aria-hidden="true">&laquo;</span>
	      		</a>
	    	</li>
	    	
	    	<li>
	    		<a href="#" ng-repeat="page in list.pages" ng-click="list.gotoPage($index)">{{$index + 1}}</a>
	    	</li>
	    	
	    	<li>
	      		<a href="#" aria-label="Next" ng-click="list.nextPage()">
	        		<span aria-hidden="true">&raquo;</span>
	      		</a>
	    	</li>
	  	</ul>
	</nav>
	<!-- End Pagination -->

	<!-- Books Display -->
	<div class="books-container row clearfix" ng-init="list.init()" ng-if="list.pages">
		
		<!-- Book Item -->
		<div class="book col-xs-12 col-sm-6 col-md-4 col-xl-3 clearfix" ng-repeat="book in list.pages[list.currentPage]">
			<div class="book-wrapper" ui-sref="view({ id: book.id })">
				<div class="row">
					<div class="book-image col-xs-3">
						<img class="img-responsive" ng-src="{{book.author.avatar}}" alt="{{book.author.name}}" width="250" height="250">
					</div>

					<div class="book-details col-xs-9">
						<h1>{{book.name}}</h1>
						<p>by {{book.author.name}}</p>
					</div>
				</div>

				<div class="row">
					<div class="book-rating col-xs-4">
						<i class="fa fa-heart"></i>
						<span> {{book.likes | number}}</span>
					</div>
					
					<div class="book-date col-xs-8">{{book.published | fromNow}}</div>
				</div>

				<div class="row book-tags">
					<div class="col-xs-12">
						<span><i class="fa fa-tag"></i>{{book.genre.name}}</span>
						<span><i class="fa fa-tag"></i>{{book.genre.category}}</span>
					</div>
				</div>
			</div>
		</div>
		<!-- End Book Item -->
	</div>
	<!-- End Books Display -->

	
</div>