.filters {
  margin-top: 1em;
  background-color: #BBE46D;
  padding: 15px 0 0;
  width: 100%; }

.books-container {
  padding: 0 1em;
  margin: -15px -20px; }

.book {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  color: #333333;
  position: relative;
  padding: 5px !important; }
  .book .book-wrapper {
    color: #333333;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 1em 1em 0.5em 1em; }
  .book .book-details h1 {
    font-size: 1.2em;
    margin-top: 0.2em;
    margin-bottom: 0.3em; }
  .book .book-details p {
    font-size: 0.9em;
    font-weight: bold; }
  .book .book-rating, .book .book-date {
    color: #6B812E;
    font-size: 0.8em; }
  .book .book-date {
    text-align: right; }
  .book .book-image {
    margin-bottom: 2em; }
  .book .book-tags {
    background-color: #EEEEEE;
    color: #333333;
    font-size: 0.7em;
    margin-bottom: -7px;
    margin-top: 14px;
    padding: 5px 0;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #DDDDDD; }
    .book .book-tags i, .book .book-tags span {
      margin-right: 5px; }
  .book img {
    vertical-align: middle;
    border-radius: 50% 50%; }

.pagination a {
  color: #333333 !important; }

.intro-container, .detail-container, .related-container {
  width: 100%; }

.intro-container {
  padding: 3em 0;
  background-color: #BBE46D;
  color: #333333; }
  .intro-container a {
    cursor: pointer;
    text-decoration: none; }
  .intro-container .book-tag {
    padding: 4px;
    background-color: #EEEEEE;
    color: #6B812E;
    border-radius: 4px;
    font-size: 0.8em; }
  .intro-container .back-btn {
    font-size: 1.4em;
    text-decoration: none;
    color: #333333; }
    .intro-container .back-btn:hover {
      color: #6B812E; }
  .intro-container h1 {
    margin-top: 1em !important;
    margin-bottom: 5px !important; }
  .intro-container h6 {
    font-weight: bold;
    margin-top: 2em; }
  .intro-container h5 {
    color: #6B812E;
    margin-top: 0 !important; }

.detail-container {
  padding: 3em 0;
  background-color: #FFFFFF; }
  .detail-container h2 {
    margin-bottom: 1em; }
  .detail-container h4 {
    color: #BBBBBB; }
  .detail-container h5 {
    color: #333333; }
  .detail-container p {
    margin-bottom: 2em; }
  .detail-container .detail-author {
    border-top: 1px solid #BBBBBB;
    margin-top: 1em; }
    .detail-container .detail-author i {
      font-size: 5em;
      color: #BBBBBB;
      margin-top: 0.5em;
      padding: 10px;
      background-color: #EEEEEE;
      border-radius: 50% 50%;
      width: 100px;
      height: 100px;
      vertical-align: middle; }

.related-container {
  padding: 1em 0;
  background-color: #EEEEEE; }

html, body {
  background-color: #EEEEEE;
  background: url(../img/handmadepaper.png) repeat top left;
  color: #333333;
  font-family: "Lato", "Helvetica", arial, sans-serif; }

header {
  background-color: #333333;
  color: #EEEEEE;
  padding: 1em 0;
  line-height: 2.4em;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  margin: 0 !important;
  z-index: 100; }
  header a {
    color: #FFFFFF; }
    header a:active, header a :visited, header a :focus {
      color: #FFFFFF;
      text-decoration: none; }
    header a:hover {
      color: #BBE46D;
      text-decoration: none; }
  header h1 {
    font-weight: lighter;
    font-size: 2em;
    margin: 0; }
  header p {
    color: #FFFFFF;
    margin: 0;
    text-align: right;
    font-size: 0.9em; }

.app-container {
  margin-top: 58px; }

footer {
  margin-bottom: 20px; }
  footer h6 {
    text-align: center;
    color: #BBBBBB; }

/*# sourceMappingURL=main.css.map */